<h4>Listado</h4>
<ul class="list-group">
  <ng-container *ngIf="characterList.length > 0; else noCharactersContainer">
    <li
    *ngFor="
      let character of characterList;
      let i = index;
      let isEven = even;
      let isLast = last;
    "
    class="list-group-item list-group-item-action d-flex align-items-center justify-content-between"
    [ngClass]="
      {
        'list-group-item-primary': isEven,
        'list-group-item-dark': isLast
      }
    "
  >

    <div>
      <span
        class="text-primary"
      >
        {{ i + 1 }}.
      </span>
      <span>{{ character.name }} - </span>
      <strong>Power : </strong>
      <span>{{ character.power }}</span>
    </div>

    <button class="btn btn-danger" (click)="onDelete(i)">X</button>

  </li>
  </ng-container>


</ul>

<!-- This will be shown when characterList is empty -->
<ng-template #noCharactersContainer>
  <p class="fs-3 badge bg-danger">No characters to display.</p>
</ng-template>
