button {
  font-size: 2rem;
  border: none;
  border: 2rem;
  margin: 0.2rem;
  cursor: pointer;
  background-color: #c9910e;
  transition: all ease 0.5s;
  border-radius: 17px;
  padding: 0.5rem;
  width: 75px;
}

button:hover {
  background-color: #c2b69c;
}
