<app-dbz-main-page></app-dbz-main-page>


<!-- <app-loader *ngIf="isLoading"></app-loader> -->
<!--
<div style="border: 2px solid royalblue; display: flex; justify-content: center; align-items: center; margin-top: 1.2rem;">
  <app-father></app-father>
</div> -->


<!-- <h1>{{ title }}</h1>
<hr />
<app-heroes-hero></app-heroes-hero>
<app-heroes-list></app-heroes-list>


<app-counter [theNumber]="someNum"></app-counter>
<hr />
<app-counter></app-counter>

<app-hero></app-hero>
<app-lista></app-lista> -->
